<html>
<head>
<title>NOVA Demo</title>
<style>
  div.imgContainer {
    display:inline-block;
  }
  div.container {
    font-size:32px;
  }
</style>
</head>

<body>

<div id="container" style="height: 600px; min-width: 310px; font-size: 30px;"></div>
<script src='static/jquery.js'></script>
<script src='static/highstock.js'></script>
<script src='static/exporting.js'></script>
<script>
$(function () {
    // 使用当前时区，否则东八区会差八个小时
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });

    $.getJSON('/data', function (data) {
      // Create the chart
      $('#container').highcharts('StockChart', {
        chart:{
          events:{
            load:function(){
              var series = this.series;
              setInterval(function(){
                $.getJSON('/data',function(res){
                  $.each(res[0], function(i,v){
                    series[0].addPoint(v);
                  });
                  $.each(res[1], function(i,v){
                    series[1].addPoint(v);
                  });
                })
              }, 2000)
            }
          }
        },

        legend: {
          enabled: true,
          layout: 'horizontal',
        },

        rangeSelector : {
          selected : 1
        },

        title : {
          text : 'Filebench throughput'
        },

        series : [
        {
          name : 'NOVA',
          data : data[0],
          tooltip: {
            valueDecimals: 2
          }
        },
        {
          name: 'Ext4-DAX',
          data: data[1],
          tooltip: {
            valueDecimals: 2
          }
        }
        ]
      });
    });
});
</script>
<div id="container1" style="height: 50px; min-width: 310px; font-size: 12px;"></div>
<div id="container2" style="height: 800px; min-width: 310px; font-size: 12px;">
  <div class="imgContainer">
    <img height="300" src="http://cseweb.ucsd.edu/~jix024/filebench.png">
    <div class="caption" style="width: 500px; font-size: 16px; text-align: center">NOVA performance</div>
  </div>
</div>
</body>
</html>
